@import "tailwindcss/preflight";
@tailwind utilities;

@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

/* Add styles for wavy background */
section canvas {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 0;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

@layer base {
  :root {
    --background: 194 41% 8%;
    --foreground: 192 38% 97%;
    --card: 194 41% 8%;
    --card-foreground: 192 38% 97%;
    --popover: 194 41% 8%;
    --popover-foreground: 192 38% 97%;
    --primary: 192 47% 55%;
    --primary-foreground: 194 41% 8%;
    --secondary: 175 45% 63%;
    --secondary-foreground: 194 41% 8%;
    --muted: 175 25% 63%;
    --muted-foreground: 192 18% 97%;
    --accent: 194 46% 30%;
    --accent-foreground: 194 41% 8%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 194 41% 8%;
    --border: 175 15% 63%;
    --input: 175 15% 63%;
    --ring: 192 47% 55%;
    --radius: 0.75rem;
  }

  .dark {
    --background: 192 38% 97%;
    --foreground: 194 41% 8%;
    --card: 192 38% 97%;
    --card-foreground: 194 41% 8%;
    --popover: 192 38% 97%;
    --popover-foreground: 194 41% 8%;
    --primary: 192 47% 55%;
    --primary-foreground: 194 41% 8%;
    --secondary: 175 45% 63%;
    --secondary-foreground: 194 41% 8%;
    --muted: 175 25% 63%;
    --muted-foreground: 192 18% 97%;
    --accent: 194 46% 30%;
    --accent-foreground: 194 41% 8%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 194 41% 8%;
    --border: 175 15% 63%;
    --input: 175 15% 63%;
    --ring: 192 47% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@keyframes hero-gradient-animation {
    0% {
        --s-start-0: 1%;
        --s-end-0: 61%;
        --x-0: 91%;
        --y-0: 90%;
        --c-0: hsla(97, 2%, 11%, 1);
        --s-start-1: 0%;
        --s-end-1: 55%;
        --y-1: 24%;
        --x-1: 17%;
        --c-1: hsla(75, 0%, 0%, 1);
        --s-start-2: 19%;
        --s-end-2: 54%;
        --y-2: 32%;
        --x-2: 11%;
        --c-2: hsla(248, 37%, 20%, 1);
        --s-start-3: 0%;
        --s-end-3: 67%;
        --c-3: hsla(212, 72%, 58%, 1);
        --y-3: 31%;
        --x-3: 2%;
        --s-start-4: 12%;
        --s-end-4: 82%;
        --y-4: 93%;
        --c-4: hsla(349, 0%, 0%, 1);
        --x-4: 74%;
    }

    100% {
        --s-start-0: 19%;
        --s-end-0: 69%;
        --x-0: 49%;
        --y-0: 25%;
        --c-0: hsla(313, 0%, 0%, 1);
        --s-start-1: 3%;
        --s-end-1: 77%;
        --y-1: 41%;
        --x-1: 1%;
        --c-1: hsla(360, 0%, 0%, 1);
        --s-start-2: 6%;
        --s-end-2: 73%;
        --y-2: 93%;
        --x-2: 44%;
        --c-2: hsla(321, 0%, 0%, 1);
        --s-start-3: 8%;
        --s-end-3: 86%;
        --c-3: hsla(212.3684210526316, 72%, 58%, 1);
        --y-3: 51%;
        --x-3: 97%;
        --s-start-4: 20%;
        --s-end-4: 75%;
        --y-4: 69%;
        --c-4: hsla(109, 0%, 0%, 1);
        --x-4: 10%;
    }
}

@property --s-start-0 { syntax: '<percentage>'; inherits: false; initial-value: 1%; }
@property --s-end-0 { syntax: '<percentage>'; inherits: false; initial-value: 61%; }
@property --x-0 { syntax: '<percentage>'; inherits: false; initial-value: 91%; }
@property --y-0 { syntax: '<percentage>'; inherits: false; initial-value: 90%; }
@property --c-0 { syntax: '<color>'; inherits: false; initial-value: hsla(97, 2%, 11%, 1); }
@property --s-start-1 { syntax: '<percentage>'; inherits: false; initial-value: 0%; }
@property --s-end-1 { syntax: '<percentage>'; inherits: false; initial-value: 55%; }
@property --y-1 { syntax: '<percentage>'; inherits: false; initial-value: 24%; }
@property --x-1 { syntax: '<percentage>'; inherits: false; initial-value: 17%; }
@property --c-1 { syntax: '<color>'; inherits: false; initial-value: hsla(75, 0%, 0%, 1); }
@property --s-start-2 { syntax: '<percentage>'; inherits: false; initial-value: 19%; }
@property --s-end-2 { syntax: '<percentage>'; inherits: false; initial-value: 54%; }
@property --y-2 { syntax: '<percentage>'; inherits: false; initial-value: 32%; }
@property --x-2 { syntax: '<percentage>'; inherits: false; initial-value: 11%; }
@property --c-2 { syntax: '<color>'; inherits: false; initial-value: hsla(248, 37%, 20%, 1); }
@property --s-start-3 { syntax: '<percentage>'; inherits: false; initial-value: 0%; }
@property --s-end-3 { syntax: '<percentage>'; inherits: false; initial-value: 67%; }
@property --c-3 { syntax: '<color>'; inherits: false; initial-value: hsla(212, 72%, 58%, 1); }
@property --y-3 { syntax: '<percentage>'; inherits: false; initial-value: 31%; }
@property --x-3 { syntax: '<percentage>'; inherits: false; initial-value: 2%; }
@property --s-start-4 { syntax: '<percentage>'; inherits: false; initial-value: 12%; }
@property --s-end-4 { syntax: '<percentage>'; inherits: false; initial-value: 82%; }
@property --y-4 { syntax: '<percentage>'; inherits: false; initial-value: 93%; }
@property --c-4 { syntax: '<color>'; inherits: false; initial-value: hsla(349, 0%, 0%, 1); }
@property --x-4 { syntax: '<percentage>'; inherits: false; initial-value: 74%; }

body {
    --x-0: 91%;
    --y-0: 90%;
    --c-0: hsla(97, 2%, 11%, 1);
    --y-1: 24%;
    --x-1: 17%;
    --c-1: hsla(75, 0%, 0%, 1);
    --y-2: 32%;
    --x-2: 11%;
    --c-2: hsla(248, 37%, 20%, 1);
    --c-3: hsla(212, 72%, 58%, 1);
    --y-3: 31%;
    --x-3: 2%;
    --y-4: 93%;
    --c-4: hsla(349, 0%, 0%, 1);
    --x-4: 74%;
    background-color: hsla(356, 0%, 0%, 1);
    background-image: 
        radial-gradient(circle at var(--x-0) var(--y-0), var(--c-0) var(--s-start-0), transparent var(--s-end-0)),
        radial-gradient(circle at var(--x-1) var(--y-1), var(--c-1) var(--s-start-1), transparent var(--s-end-1)),
        radial-gradient(circle at var(--x-2) var(--y-2), var(--c-2) var(--s-start-2), transparent var(--s-end-2)),
        radial-gradient(circle at var(--x-3) var(--y-3), var(--c-3) var(--s-start-3), transparent var(--s-end-3)),
        radial-gradient(circle at var(--x-4) var(--y-4), var(--c-4) var(--s-start-4), transparent var(--s-end-4));
    animation: hero-gradient-animation 10s linear infinite alternate;
    background-blend-mode: normal, normal, normal, normal, normal;
    min-height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

